/* BANNER */
.banner-container {
  background-color: #0D1321; /* Ajouter une couleur d'arrière-plan */
  background-image: url("../img/CryptoHackBanner.png"); /* Ajouter une image d'arrière-plan */
  background-position: center -150px; /* Ajuster la position de l'image */
  background-repeat: no-repeat;
  background-size: contain; /* Ajuster la taille de l'image */
  min-height: 50vh;
  position: relative;
  overflow: hidden; /* Cacher tout ce qui dépasse */
}

