/* BANNER */
.banner-container {
  background: url("../img/RootBanner.png");
  min-height: 50vh;
  position: relative;
  overflow: hidden; /* Cacher tout ce qui dépasse */
  background-attachment: fixed;
  background-position: center -100px; /* Ajuster la position de l'image */
  background-repeat: no-repeat;
  background-size: cover;
}
