/* MAIN */

main {
  margin-top: 90px; /* ajouter cette propriété pour ajouter un espace entre le header et le table des matières */
}

/* HEADER */

header{
  position: fixed; /* ajouter cette propriété pour rendre le header fixe */
  top: 0; /* ajouter cette propriété pour positionner le header en haut de la page */
  background: #fff;
  width: 100%;
  height: 90px;
  box-sizing: border-box;
  z-index:99;
}

header .header-logo {
  text-align: center;
  margin-top: 10px;
  padding-left: 10px;
  float: left;
  margin-right: -15px; /* ajouter une marge négative à droite */
}

header .header-logo img {
  height: 50px;
}

header .header-brand {
  font-family: Catamaran;
  font-size: 24px;
  font-weight: 900;
  color: #111;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
  margin: 31px 0 0 0; /* réinitialiser la marge supérieure */
  text-align: left;
  line-height: 38px;
  border-right: 3px solid #111;
  padding: 0 20px 0 5px;
  float: left;
}

header .header-brand:hover{
  text-decoration: none;
}

header nav {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center; /* ajouter cette propriété pour centrer les boutons verticalement */
}

header nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center; /* ajouter cette propriété pour centrer les boutons verticalement */
}

header nav ul li {
  list-style: none;
  padding: 0 16px;
  height: 60px; /* Ajouter cette propriété pour définir une hauteur fixe */
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav ul li a {
  font-family: Catamaran;
  font-size: 20px;
  color: #111;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
}

header nav ul li:hover,
header nav ul li:hover a{
  text-decoration: none;
  color: #fff;
  background-color: #333;
  line-height: 60px;
  text-decoration: none;
}

.menu-toggle{
  color: #111;
  float: right;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  padding-top: 20px;
  display: none;
}

/* DROPDOWN */

.dropbtn {
    display: block;
    font-family: Catamaran;
    background-color: #fff;
    color: #111;
    padding: 18px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    line-height: 50px;
    width: 250px;
}

.dropdown {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    left: auto;
}

.dropdown-content a {
  font-size: 20px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  text-align: center;
  display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: #ddd; /* changer la couleur de fond en gris lorsque la souris est sur l'onglet */
}

.dropdown:hover .dropdown-content a {
  color: #333; /* changer la couleur du texte en noir lorsque la souris est sur l'onglet */
}

.dropdown:hover .dropbtn {
    color: #111; /* Ne pas changer la couleur du texte du bouton dropdown lorsque la souris est sur l'onglet */
    background-color: #fff; /* Ne pas changer la couleur de fond du bouton dropdown lorsque la souris est sur l'onglet */
}

/* TABLE OF CONTENTS */

.toc {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.toc h1 {
  font-family: 'merriweather-bold';
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  color: #333;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}

.toc hr {
  border: none;
  height: 1px;
  background-color: #ccc;
  margin-bottom: 3em;
  width: 30%;
  margin-left: 35%;
}

.toc ol {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* ajouter cette propriété pour créer un conteneur flexible */
  flex-direction: column; /* aligner les éléments enfants verticalement */
  align-items: center; /* ajouter cette propriété pour aligner les éléments enfants verticalement au centre */
}

.toc ol li {
  font-family: 'merriweather-regular';
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

.toc ol li a {
  color: #333;
  text-decoration: none;
}

.toc ol li a:hover {
  color: #fff;
  background-color: #333;
  padding: 5px 10px;
  border-radius: 5px;
}
