/* BANNER */
.banner-container {
  background: url("../img/TryHackMeBanner.png");
  min-height: 50vh;
  position: relative;
  overflow: hidden; /* Cacher tout ce qui dépasse */
  background-attachment: fixed;
  background-position: center center; /* Centrer l'image horizontalement et verticalement */
  background-repeat: no-repeat;
  background-size: contain; /* Adapter l'image à la hauteur de 50vh sans la couper */
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}



.banner-container > * {
  margin-top: 2%; /* Ajuster la valeur selon vos besoins */
  margin-right: 4%;
  transform: scale(1.5);
}
