
/* BANNER */
.banner-container {
  background-color: #FFFFFF; /* Ajouter une couleur d'arrière-plan */
  background-image: url("/img/WorkBanner.png"); /* Ajouter une image d'arrière-plan */
  background-position: center ; /* Ajuster la position de l'image */
  height: 30vh;
  position: relative;
  overflow: hidden; /* Cacher tout ce qui dépasse */
}
